<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cakes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
	  	<div class="row">
	  		<div class="col-md-7">
	  			<div class="page-header">
				  <h1><small>All About Our Cake Toppers</small></h1>
				</div>
  				<div class="well">
              <p class="text">
                 Welcome to Cake Sparkle, my name is Nicole and I am the creator! I have a confession to make. I am a bakeaholic. Delighting friends and family with treats that are delectable AND beautiful is my passion. Dessert beauty is tricky business though... I’ve tried making cake decorations out of paper craft and similar materials in the past, but the results were always lackluster. This is where Cake Sparkle comes into play!</p>
              <p class="text">   
                  After venturing through a workshop with my tool fanatic husband I saw the perfect solution, a high precision laser cutter. I took a workshop class on how to use it and spent the next several weeks making my first cake topper as a homemade craft to decorate with when friends came over. The final project was stunning: a durable, reusable and stunning way to crown my cakes and dazzle guests! From the feedback I got it became obvious I wasn't the only one who needed their cakes to sparkle. </p>
              <p class="text">
                  Since then I have spent months of early mornings, work weekends and coffee fueled late nights generating dozens of designs, working through failures of every kind and learning something new every step of the way. I have visited every major art supply store and lumber yard in the greater Phoenix area in my quest to find the absolute best materials, coatings and techniques to support the delicate balance of intricacy, durability and excellent finish quality required by these unique works of art. Now with the help of my Desinger (and husband) I am finally able to say that the love and attention that goes into every cake topper is matched by the knowledge and experience necessary to guarantee a consistent, beautiful and lasting product that I am excited to create and I know you will love showing off.</p>

                  <p class="text">
                  May all your celebrations sparkle! <br>
                  ~Nicole~
                  </p>
              </p>
  				</div>
	  		</div>
	  		<div class="col-md-1">

	  		</div>
  			<div class="col-md-5">
          <div class="spacer">
			    <a href="#" class="thumbnail">
			      <img src="http://i.imgur.com/6tBMo2D.jpg" alt="...">
            <div class="caption">
              <h4 class="subtitle">Owners - Jake (Designer) and Nicole (Visionary)</h4>
            </div>
			    </a>
          </div>
			  </div>
	  	</div>
  	</div>
    <%= yield %>

  </body>
</html>