<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cakes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
	  	<div class="row">
	  		<div class="col-md-2"></div>
	  		<div class="col-md-8">
	  			<div class="page-header">
				  <h1><small>Questions About Our Toppers</small></h1>
				</div>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				          How are the toppers made?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				      	<p class="text">We start our creation process with hand made designs from our very own owner Jake. These designs are then taken to a special
				      	workshop with high precision laser cutters, ensuring clean and sharp designs. Next we drill holes for our removable dowel inserts.
				      	The toppers are clear coated to ensure that your special product with last for years to come. Lastly we apply the paint and the finished product is an elegant, sparkly cake centerpiece that will be sure to capture the room. </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Are they safe for food?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				      <p class="text">Absolutely! All Cake Sparkle coatings, from base coat to top coat, are water based and fully cured to ensure they’re as safe adorning your cakes as they are beautiful.</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Can I use them repeatedly?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				      <p class="text"> 
				      	 Cake Sparkle's toppers feature a furniture grade clear coat to ensure that your toppers retain their look for years.  They also feature a unique, one-of-a-kind construction with a removable dowel. When your topper is finished with cake duty just remove the dowel for an effortless transition from cake topper to table decoration, Christmas ornament, shadow box display, scrap book embellishment, photo prop or any other use you can imagine! When you’re ready to crown your cakes once again, simply re-insert the dowel. 
				      </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          What colors do they come in?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
				      <p class="text">
				      	Cake Sparkle toppers come in every color of the rainbow! My special occasions come in more than just black, white or gold, and I’m guessing yours do too! With over 2 dozen paint colors and 17 glitter accents to choose from you’re guaranteed to find the perfect color scheme to make your cake sparkle.
				      </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          Can you make special designs to meet my needs?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body">
				      <p class="text">
				      	Each cake topper is custom designed and unique especially for you! We don’t make our cake toppers beforehand, so you have design input that matches your individual style and preferences. We have a set of standard toppers as well as ones that are customized for your needs. 
				      	<br><br>
						Have an idea for a topper that you'd like to see? We’d love to hear it. We’re always looking for new ideas and we’d love the opportunity to make your big day even more special. 
				      </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          How long will it take to receive after ordering?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body">
				      <p class="text">
				      	We can tailor our creation efforts to fit time sensitive needs, but typically it takes 
				      	At Cake Sparkle we always package your order with care and send it off to you on time. Once we send your order to the USPS we can no longer be held responsible. Most orders make it to their destinations without any issue, but packages are sometimes delayed or lost. We highly recommend that you purchase insurance for any time sensitive orders. Please contact us to discuss options for insurance. 
				      </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				          Do custom orders take longer?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      <div class="panel-body">
				      <p class="text">
				       Yes, custom orders will vary in length depending on the complexity. But since we must hand make the designs first, it definitely adds
				       some time to the creation process.</p>
				      </div>
				    </div>
				  </div>
				   <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingNine">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
				          Are they dishwasher safe?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
				      <div class="panel-body">
				      <p class="text">
				      	No, please do not put your cake topper in the dishwasher. It will warp and ultimately destroy them. All you need to do to clean your
				      	topper is to apply some warm water and scrub gently with soap! </p>
				      </div>
				    </div>
				  </div>
				   <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTen">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
				          What is your return policy?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
				      <div class="panel-body">
				      <p class="text">
				      If for some reason you receive your cake topper and it isn’t as you expected, please send us a convo and we will do our best to fix the situation. All custom orders are final sale. We will email you one proof of your custom design before it is created to make sure it fits your vision. Once your cake topper has been approved we will create it following your specifications and we cannot accept any returns. 
				      <br><br>
						For non-custom items we will accept refunds/exchanges if notified within the first 7 days of receipt. When the return is approved, please ship back using an insured shipping method. If the item returns damaged and without having been insured, we cannot issued the refund. </p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEight">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
				          What forms of payment do you take?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
				      <div class="panel-body">
				      <p class="text">
				      	You can make your payment online with your PayPal account or any major credit card. Once you have submitted your payment you will receive a confirmation email from Paypal. Please make sure your Paypal address and email are updated with your current information. 
				      	<br>
				      	If you do not get a confirmation from PayPal then we probably haven’t received your order. Please double-check your PayPal account and feel free to contact us with any questions. 
				      </p>
				      </div>
				    </div>
				  </div>
				</div>
	  		</div>
	  		<div class="col-md-2"></div>
	  	</div>
  	</div>
    <%= yield %>

  </body>
</html>