<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cakes</title>
    
  </head>
  <body>
  	<div class="container">
	  	<div class="row">
	  		<div class="col-md-5">
	  			<div class="page-header">
	  			  <div class="row">
				  <h1 class="shift"><small>Contact Us</small></h1>
				  </div>
				</div>
  				<div class="well">
  				<p class="text">
  				<Strong>Cake Sparkle LLC</Strong>
  				<br>
  				1234 West Badass Street
  				<br>
  				Queen Creek, Arizona, 77733
  				<br>
  				<br>

  				<Strong>Phone Support</Strong>
  				<br>
  				602-123-4567
  				<br><br>

  				<Strong>Email Support</Strong>
  				<br>
  				Design Work - cakesparkleboy@gmail.com
  				<br>
  				Customer Service - cakesparklegirl@gmail.com
  				<br><br>
  				</p>
  				</div>
	  		</div>
	  		<div class="col-md-6">
	  			<div class="page-header">
	  			  <div class="row">
				  <h1 class="shift"><small>Any Questions?</small></h1>
				  </div>
				</div>
  				<div class="well">
                <% if flash[:notice] %>
                  <div class="alert alert-success" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                  <a href="#" class="alert-link"><%= flash[:notice] %></a>
                </div>

                <% end %>
              <%= bootstrap_form_for(@contact, inline_errors: false) do |f| %>
              <%= f.alert_message "Please fix the errors below." %>
                <%= f.text_field :name, icon: "user" %>
                <%= f.email_field :email, icon: "envelope"%>
                <%= f.select :subject, [["General Question"], ["Order Information"], ["Account Issues"], ["Custom Toppers"], ["Payment Issues"]],{ label: "Nature of Inquiry" }, { class: "selectpicker" } %>
                <%= f.text_area :message %>
                <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>
	  		</div>
	  		<div class="col-md-1"></div>
	  	</div>
  	</div>
    <%= yield %>

  </body>
</html>